In [7]:
from blockchain import blockexplorer

In [8]:
block = blockexplorer.get_block('000000000000000016f9a2c3e0f4c1245ff24856a79c34806969f5084f410680')

In [30]:
data = block.__dict__

In [77]:
data["transactions"][6].__dict__

{'block_height': 319950,
 'double_spend': False,
 'hash': '00e115104ca68ba9567be628fe0249a94ff3aad486c8052783fa3906bf005442',
 'inputs': [<blockchain.blockexplorer.Input at 0x107e8e0f0>,
  <blockchain.blockexplorer.Input at 0x107e8e128>,
  <blockchain.blockexplorer.Input at 0x107e8e160>,
  <blockchain.blockexplorer.Input at 0x107e8e198>,
  <blockchain.blockexplorer.Input at 0x107e8e1d0>],
 'outputs': [<blockchain.blockexplorer.Output at 0x107e8e208>],
 'relayed_by': '46.28.204.123',
 'size': 783,
 'time': 1410326228,
 'tx_index': 64178213,
 'version': 1}

In [71]:
data["transactions"][6].__dict__["inputs"][0].__dict__

{'address': '1JYmErjLQQtC7eoXpQAzqGtpK9ooHPskbc',
 'n': 1,
 'script': '76a914c07bf6411e64c7279881a98823be0be28dafc3da88ac',
 'script_sig': '483045022100bb63a053c8f72a9e1243daa0d4d8d6c9cafb256ef84ee0db904d5960901d9e9502200e757df66e5dfe91da1859ea9070d3a345d92b4c2615822c6eb81e9eacd989d401210325c58608a2bd0bd9c1ae2dd0be74a4a913bf26c115ad0247cc656e4eab6d4188',
 'sequence': 4294967295,
 'tx_index': 63817270,
 'type': 0,
 'value': 2000000000}

In [96]:
block = blockexplorer.get_blocks(time = "1517927947286")

## Loading Bitcoin balances csv file
**Be careful, not to print entire csv**

**As of block 498754 (today 07/02/18 - block 508113)**

In [3]:
import pandas as pd

In [13]:
df = pd.read_csv('balances_498754.csv',sep = ";", header=None)

In [54]:
df['BTC'] = df.apply(lambda row: row[1]*0.00000001, axis = 1)

In [14]:
df.head()

                                    0         1
0  1CG4LbEXoBus2egJS8SBh3DDPTrSykzFMG    942800
1  1Jt1Yng68p6Pd3pYWc1W1nxWSZSx9PZNto   2100390
2  32i3fvUTZkq2zeHBuosYDkiSCyMDhP62eo   9592347
3  34LcFLg5V65bAqytFgUoXt5H1EBHbpC8My  10000000
4  1KaPHfvVWNZADup3Yc26SfVdkTDvvHySVX     65279

In [15]:
dfsub1 = df[:][1:40]

In [ ]:
sample['PR'] = sample['PR'].apply(lambda x: np.nan if x < 90 else x)

In [16]:
dfsub1['BTC'] = dfsub1.apply(lambda row: row[1]*0.00000001, axis = 1)

In [18]:
dfsub1.iloc[0:5,0:3]

                                    0         1       BTC
1  1Jt1Yng68p6Pd3pYWc1W1nxWSZSx9PZNto   2100390  0.021004
2  32i3fvUTZkq2zeHBuosYDkiSCyMDhP62eo   9592347  0.095923
3  34LcFLg5V65bAqytFgUoXt5H1EBHbpC8My  10000000  0.100000
4  1KaPHfvVWNZADup3Yc26SfVdkTDvvHySVX     65279  0.000653
5  1Lcd4mL7Zt53QTyR4wFJSksuyxCtfpTtws      2789  0.000028

In [4]:
tx_out = pd.read_csv('tx_out.csv',sep = ";", header=None)
tx_out.columns = ["txid","indexOut","value","scriptPubKey","address"]

In [23]:
#tx_out.iloc[0:10,0:5]

In [24]:
tx_out.head()

,txid,indexOut,value,scriptPubKey,address
0,4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...,0,5000000000,4104678afdb0fe5548271967f1a67130b7105cd6a828e0...,1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
1,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,0,5000000000,410496b538e853519c726a2c91e61ec11600ae1390813a...,12c6DSiU4Rq3P4ZxziKxzrL5LmMBrzjrJX
2,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,0,5000000000,41047211a824f55b505228e4c3d5194c1fcfaa15a456ab...,1HLoD9E4SDFFPDiYfNYnkBLQ85Y51J3Zb1
3,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,0,5000000000,410494b9d3e76c5b1629ecf97fff95d7a4bbdac87cc260...,1FvzCLoTPGANNjWoUo6jUGuAG3wg1w4YjR
4,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,0,5000000000,4104184f32b212815c6e522e66686324030ff7e5bf08ef...,15ubicBBWFnvoZLT7GiU2qxjRaKJPdkDMG

In [8]:
transactions = pd.read_csv('transactions.csv',sep = ";", header=None)
transactions.columns = ["txid","hashBlock","version","lockTime"]

In [9]:
transactions.head()

,txid,hashBlock,version,lockTime
0,4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...,000000000019d6689c085ae165831e934ff763ae46a2a6...,1,0
1,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,00000000839a8e6886ab5951d76f411475428afc90947e...,1,0
2,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,1,0
3,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,1,0
4,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,000000004ebadb55ee9096c9a2f8880e09da59c0d68b1c...,1,0

In [11]:
blocks = pd.read_csv('blocks.csv',sep = ";", header=None)
blocks.columns = ["block_hash", "height", "version", "blocksize", "hashPrev", "hashMerkleRoot", "nTime", "nBits", "nNonce"]

In [13]:
blocks.head()

,block_hash,height,version,blocksize,hashPrev,hashMerkleRoot,nTime,nBits,nNonce
0,000000000019d6689c085ae165831e934ff763ae46a2a6...,0,1,285,0000000000000000000000000000000000000000000000...,4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...,1231006505,486604799,2083236893
1,00000000839a8e6886ab5951d76f411475428afc90947e...,1,1,215,000000000019d6689c085ae165831e934ff763ae46a2a6...,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,1231469665,486604799,2573394689
2,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,2,1,215,00000000839a8e6886ab5951d76f411475428afc90947e...,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,1231469744,486604799,1639830024
3,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,3,1,215,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,1231470173,486604799,1844305925
4,000000004ebadb55ee9096c9a2f8880e09da59c0d68b1c...,4,1,215,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,1231470988,486604799,2850094635

In [15]:
tx_in = pd.read_csv('tx_in/tx_in_1.csv',sep = ";", header=None)
tx_in.columns = ["txid", "hashPrevOut", "indexPrevOut", "scriptSig", "sequence"]

In [27]:
tx_in.head()

,txid,hashPrevOut,indexPrevOut,scriptSig,sequence
0,4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...,0000000000000000000000000000000000000000000000...,4294967295,04ffff001d0104455468652054696d65732030332f4a61...,4.294967e+09
1,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,0000000000000000000000000000000000000000000000...,4294967295,04ffff001d0104,4.294967e+09
2,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,0000000000000000000000000000000000000000000000...,4294967295,04ffff001d010b,4.294967e+09
3,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,0000000000000000000000000000000000000000000000...,4294967295,04ffff001d010e,4.294967e+09
4,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,0000000000000000000000000000000000000000000000...,4294967295,04ffff001d011a,4.294967e+09